




<div class="container">
    <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Robot Master</th>
            <th scope="col">Origin</th>
            <th scope="col">Primary Class</th>
            <th scope="col">Secondary Class</th>
            <th scope="col">Games Played</th>
            <th scope="col">Most Played By</th>
          </tr>
        </thead>
        <tbody *ngFor="let robotmaster of robotmasters ">
          <tr>
            <td><img src={{robotmaster.icon}}> <a routerLink='/robotmasters/{{robotmaster.id}}'>{{robotmaster.name}}</a></td>
            <td>{{robotmaster.origin}}</td>
            <td>{{robotmaster.primaryclass}}</td>
            <td>{{robotmaster.secondaryclass}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
