<app-playerdetails></app-playerdetails>

<div    class="container">
  <div class="row">
      <div class="col-8  ">
          <p>Recent Matches</p>
          <table class="table table-hover table-dark  ">
              <thead class=" border">
                <tr>
                  <th scope="col">Robotmaster</th>
                  <th scope="col">Mode</th>
                  <th scope="col">ID</th>
                  <th scope="col">Stage</th>
      
          
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
          </table>
      </div>
      <div class="col-4">
          <div class="row">
              <p>Played Played With</p>
              <table class="table table-hover table-dark  ">
                  <thead class=" border">
                    <tr>
                      <th scope="col">Player</th>
                      <th scope="col">MP</th>
                      <th scope="col">LM</th>
          
              
                      
                    </tr>
                  </thead>
                  <tbody >
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
              </table>
          </div>

          <div class="row">
              <p>Robotmasters Played</p>
              <table class="table table-hover table-dark  ">
                  <thead class=" border">
                    <tr>
                      <th scope="col">Robotmasters</th>
                      <th scope="col">MP</th>
                      <th scope="col">RM</th>        
                    </tr>
                  </thead>
                  <tbody >
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
  
</div>
    
    
    

    
    
    

