<app-playerdetails></app-playerdetails>
<div class="container">


    <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Hero</th>
            <th scope="col">ID</th>
            <th scope="col">Game Mode</th>
            <th scope="col">Date</th>
            <th scope="col">Stage</th>
    
            
          </tr>
        </thead>
        <tbody *ngFor="let match of matchDetails">
          <tr>
            <td><a routerLink='/robotmasters/{{match.id}}'><img class="rbm-icon" src="{{match.icon}}"></a>{{match.rmname}}</td>
            <td><a routerLink='/matches/{{match.matchid}}'>{{match.matchid}}</a></td>
            <td> {{match.gamemode}}</td>
            <td>{{match.matchdate}}</td>
            <td>{{match.stage}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>