<app-playerdetails></app-playerdetails>
<div class="container">

  <div class="col-auto">
    <label for="robotmasters">Robot Master</label>
    <select class="form-control"   id="robotmasters" [(ngModel)] = "robotmasterFilter" (change)="selectFilter()">
        <option value = "None">None</option>
        <option value = "{{robotmaster.id}}" *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
      </select>
    </div>


    <div class="col-auto">
    <label for="gamemode">Game Mode</label>
    <select class="form-control"   id="gamemode" [(ngModel)] = "gamemodeFilter" (change)="selectFilter()">
        <option value = "None">None</option>
        <option value ="DM">DM</option>
        <option value ="TDM">TDM</option>
        <option value ="LMS">LMS</option>
        <option value ="Duels">Duels</option>
      </select>
    </div>


    <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Hero</th>
            <th scope="col">ID</th>
            <th scope="col">Game Mode</th>
            <th scope="col">Date</th>
            <th scope="col">Stage</th>
    
            
          </tr>
        </thead>
        <tbody *ngFor="let match of matchDetails">
          <tr>
            <td><a routerLink='/robotmasters/{{match.id}}'><img class="rbm-icon" src="{{match.icon}}"></a>{{match.rmname}}</td>
            <td><a routerLink='/matches/{{match.matchid}}'>{{match.matchid}}</a></td>
            <td> {{match.gamemode}}</td>
            <td>{{match.matchdate}}</td>
            <td><a routerLink='/stages/{{match.sid}}'>{{match.stage}}</a></td>
            
          </tr>
        </tbody>
      </table>
    </div>