<app-playerdetails></app-playerdetails>
<div class="container2">
    <div class="row">



        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Total Matches</h5>
                  <p *ngIf="playerTotals?.matches" class="card-text">{{playerTotals?.matches.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Favorite Robot Master</h5>
                  <p *ngIf="playerTotals?.favoriteRM" class="card-text"><a routerLink='/robotmasters/{{playerTotals?.favoriteRM.id}}'><img src = "{{playerTotals?.favoriteRM.icon}}"></a> : {{playerTotals?.favoriteRM.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Favorite Game Mode</h5>
                  <p *ngIf="playerTotals?.favoriteMode" class="card-text">{{playerTotals?.favoriteMode.gamemode}} : {{playerTotals?.favoriteMode.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Total Frags</h5>
                  <p *ngIf="playerTotals?.totalFrags" class="card-text">{{playerTotals?.totalFrags.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Total Wins</h5>
                  <p *ngIf="playerTotals?.totalWins" class="card-text">{{playerTotals?.totalWins.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Total Loss</h5>
                  <p *ngIf="playerTotals?.totalLoss" class="card-text">{{playerTotals?.totalLoss.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Average Placement</h5>
                  <p *ngIf="playerTotals?.avgPlacement" class="card-text">{{playerTotals?.avgPlacement.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">WL Ratio</h5>
                  <p *ngIf="playerTotals?.wlRatio" class="card-text">{{playerTotals?.wlRatio.total}}</p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Best Frags Game</h5>
                  <p  *ngIf="playerTotals?.bestFrags.frags"  class="card-text"><a routerLink = "/robotmasters/{{playerTotals?.bestFrags.id}}"><img src = "{{playerTotals?.bestFrags.icon}}"></a> with <a routerLink="/matches/{{playerTotals?.bestFrags.matchid}}">{{playerTotals?.bestFrags.frags}} Frags</a></p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Best Wins Game</h5>
                  <p *ngIf="playerTotals?.bestWins.wins" class="card-text"><a routerLink = "/robotmasters/{{playerTotals?.bestWins.id}}"><img src = "{{playerTotals?.bestWins.icon}}"></a> with <a routerLink="/matches/{{playerTotals?.bestWins.matchid}}">{{playerTotals?.bestWins.wins}} Wins</a></p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Worst Frags Match</h5>
                  <p *ngIf="playerTotals?.worstFrags.frags"  class="card-text"><a routerLink = "/robotmasters/{{playerTotals?.worstFrags.id}}"><img src = "{{playerTotals?.worstFrags.icon}}"></a> with <a routerLink="/matches/{{playerTotals?.worstFrags.matchid}}">{{playerTotals?.worstFrags.frags}} Frags</a></p>
                </div>
              </div>        
        </div>

        <div class="col">
            <div class="card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">Worst Frags Match</h5>
                  <p  class="card-text"></p>
                </div>
              </div>        
        </div>


        </div>

</div>
