
<div class="container">


    <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Player</th>
            <th scope="col">Matches Played</th>
            <th scope="col">Frags Earned</th>
            <th scope="col">Most Played RM</th>
          </tr>
        </thead>
        <tbody *ngFor="let playername of playernames ">
          <tr>
            <td> <a routerLink='/players/{{playername.id}}'>{{playername?.name}}</a></td>
            <td>{{playername?.totalmatches}}</td>    
            <td>{{playername?.totalfrags}}</td>    
            <td >
              
              
               <span *ngIf="playername?.favoriteRM"><a *ngIf="playername?.favoriteRM" routerLink="/robotmasters/{{playername?.favoriteRM.id}}"><img *ngIf="playername?.favoriteRM" src = "{{playername?.favoriteRM.icon}}"></a>  {{playername?.favoriteRM.rmname}}</span></td>    
          </tr>
        </tbody>
      </table>
    </div>


    