<nav class="navbar navbar-default navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2ee133d9-86fb-442b-a366-eea1eaa9adda/d574sfk-ae052a35-04cd-4f61-b9e2-5b494ee853ad.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmVlMTMzZDktODZmYi00NDJiLWEzNjYtZWVhMWVhYTlhZGRhXC9kNTc0c2ZrLWFlMDUyYTM1LTA0Y2QtNGY2MS1iOWUyLTViNDk0ZWU4NTNhZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.TEMm-Zeahh-BimmljUfgvvfgwX0HPEYkwhpNDoX3OGM" width="50" height="50" alt="">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive = "active">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/rules" routerLinkActive = "active">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/players" routerLinkActive = "active">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/matches" routerLinkActive = "active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/robotmasters" routerLinkActive = "active">Robot Masters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stages" routerLinkActive = "active">Stages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/updates" routerLinkActive = "active">Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/submit" routerLinkActive = "active">Submit a Match</a>
      </li>

      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive = "active">Login</button>
      <button type="button" class="btn btn-primary" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
    
    </form>
  </div>
</nav>



  <router-outlet></router-outlet>







