<nav class="navbar navbar-default navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">
    <img src="https://store-images.s-microsoft.com/image/apps.33677.13989208873375395.61f9165d-cc8e-49a5-9a70-f2a276bebbe5.b7522e20-ae49-4c77-8001-2539798ecb85" width="50" height="50" alt="">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive = "active">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/matches" routerLinkActive = "active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/robot-masters" routerLinkActive = "active">Robot Masters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/players" routerLinkActive = "active">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stages" routerLinkActive = "active">Stages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/submit" routerLinkActive = "active">Submit a Match</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive = "active">Login</button>
      <button type="button" class="btn btn-primary" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive = "active">Register</button>
      <button type="button" class="btn btn-primary" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
    </form>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>






