<app-playerdetails></app-playerdetails>
<div class="container">
    <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Robot Master</th>
            <th scope="col">Matches Played</th>
            <th scope="col">Series Played</th>
            <th scope="col">Frags</th>
            <th scope="col">Wins</th>
            <th scope="col">Loss</th>
            <th scope="col">Last Match</th>
    
            
          </tr>
        </thead>
        <tbody *ngFor="let rm of rmDetails" >
          <tr>
            <td><img src="{{rm.icon}}">{{rm.rmname}}</td>
            <td>{{rm.matches}}</td>
            <td>{{0}}</td>
            <td>{{rm.frags}}</td>
            <td>{{rm.wins}}</td>
            <td>{{rm.loss}}</td>
            <td><a routerLink='/matches/{{rm.matchid}}'>{{rm.matchid}}</a> </td>
          </tr>
        </tbody>
      </table>
    </div>
