<div class="container">
  
    <img class="rm-image" src="{{robotmasterDetails?.robotmaster.image}}">
    
    <div class="container2">
      <h1 class ="h1-center">{{robotmasterDetails?.robotmaster.name}} - {{robotmasterDetails?.robotmaster.primaryclass}}<span *ngIf="robotmasterDetails?.robotmaster.secondaryclass!=''">,</span>  {{robotmasterDetails?.robotmaster.secondaryclass}}</h1>
      <h1> </h1>
    </div>
      
    

    <div class="container2">
        <div class="row">


            <!-- <div class="col">
                <div class="card text-white bg-primary mb-3" >   
                    <div class="card-body">
                      <h5 class="card-title">Favorite Player</h5>
                      <p *ngIf="robotmasterDetails?.favorite_player" class="card-text"><a routerLink="'/players/{{robotmasterDetails?.favorite_player.id}}"></a>{{robotmasterDetails?.favorite_player.name}} : {{robotmasterDetails?.favorite_player.total}}</p>
                    </div>
                  </div>        
            </div> -->


            <div class="col">
                <div class="card text-white bg-primary mb-3" >   
                    <div class="card-body">
                      <h5 class="card-title">Most Popular Game Mode</h5>
                      <p *ngIf="robotmasterDetails?.most_popular_mode" class="card-text">{{robotmasterDetails?.most_popular_mode.gamemode}}: {{robotmasterDetails?.most_popular_mode.total}}</p>
                    </div>
                  </div>        
            </div>

            <div class="col">
                <div class="card text-white bg-primary mb-3" >   
                    <div class="card-body">
                      <h5 class="card-title">Most Popular Stage </h5>
                      <p *ngIf="robotmasterDetails?.most_popular_stage" class="card-text"><a routerLink='/stages/{{robotmasterDetails?.most_popular_stage.id}}'>{{robotmasterDetails?.most_popular_stage.stage}}</a> : {{robotmasterDetails?.most_popular_stage.total}}</p>
                    </div>
                  </div>        
            </div>
        
                <div class="col">
                    <div class="card text-white bg-primary mb-3" >   
                        <div class="card-body">
                          <h5 class="card-title">Top Fragger In a Single Game</h5>
                          <p *ngIf="robotmasterDetails?.best_performance" class="card-text"><a routerLink='/players/{{robotmasterDetails?.best_performance.playerid}}'>{{robotmasterDetails?.best_performance.name}}</a>: <a routerLink='/matches/{{robotmasterDetails?.best_performance.matchid}}'>{{robotmasterDetails?.best_performance.frags}}</a></p>
                        </div>
                      </div>
        
                </div>

                <div class="col">
                    <div class="card text-white bg-primary mb-3" >   
                        <div class="card-body">
                          <h5 class="card-title">Worst Fragger In a Single Game</h5>
                          <p *ngIf="robotmasterDetails?.worst_performance" class="card-text"><a routerLink='/players/{{robotmasterDetails?.worst_performance.playerid}}'>{{robotmasterDetails?.worst_performance.name}}</a>: <a routerLink='/players/{{robotmasterDetails?.worst_performance.matchid}}'>{{robotmasterDetails?.worst_performance.frags}}</a></p>
                        </div>
                      </div>
        
                </div>


        
        
                <div class="col">        
                    <div class="card text-white bg-primary mb-3" >   
                    <div class="card-body">
                      <h5 class="card-title">Total Frags</h5>
                      <p *ngIf="robotmasterDetails?.total_frags" class="card-text">{{robotmasterDetails?.total_frags.totalfrags}}</p>
                    </div>
                  </div></div>
                  <div class="col">
                    <div class="card text-white bg-primary mb-3" >   
                        <div class="card-body">
                          <h5 class="card-title">Total Matches</h5>
                          <p *ngIf="robotmasterDetails?.total_matches" class="card-text">{{robotmasterDetails?.total_matches.total}}</p>
                        </div>
                      </div>        
                </div>
                <div class="col">
                    <div class="card text-white bg-primary mb-3">   
                        <div class="card-body">
                          <h5 class="card-title">Total Wins</h5>
                          <p *ngIf="robotmasterDetails?.total_wins" class="card-text">{{robotmasterDetails?.total_wins.totalwins}}</p>
                        </div>
                      </div>
                </div>
                <div class="col">          
                    <div class="card text-white bg-primary mb-3" >   
                    <div class="card-body">
                      <h5 class="card-title">Total Loss</h5>
                      <p *ngIf="robotmasterDetails?.total_loss" class="card-text">{{robotmasterDetails?.total_loss.totalloss}}</p>
                    </div>
                  </div>
                </div>
                <div class="col">    
                    <div class="card text-white bg-primary mb-3" >   
                      <div class="card-body">
                        <h5 class="card-title">Average Placement</h5>
                        <p *ngIf="robotmasterDetails?.avg_placement" class="card-text">{{robotmasterDetails?.avg_placement.avgplacement}}</p>
                      </div>
                    </div>
                </div>




            </div>

    </div>




      












      <h1>Single Game Top Frags</h1>
      <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">Player</th>
            <th scope="col">Frags</th>
            <th scope="col">Match</th>
          </tr>
        </thead>
        <tbody *ngFor="let match of robotmasterDetails?.mostfrags ">
          <tr>
            <td><img class="rmimg" src="{{match.icon}}"><a routerLink='/players/{{match.playerid}}'>{{match.name}}</a></td>
            <td> {{match.frags}}</td>
            <td> <a routerLink='/matches/{{match.matchid}}'>{{match.matchid}}</a></td>
            
            

            
          </tr>
        </tbody>
      </table>


      <h1> Favorite Players</h1>
      <table class="table table-hover table-dark  ">
          <thead class=" border">
            <tr>
              <th scope="col">Player</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody *ngFor="let player of robotmasterDetails?.playersplayed ">
            <tr>
              <td> <a routerLink='/players/{{player.id}}'>{{player.name}}</a></td>
              <td> {{player.total}}</td>
              
            </tr>
          </tbody>
        </table>


        <h1> Recent Matches</h1>
        <table class="table table-hover table-dark  ">
            <thead class=" border">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Mode</th>
                <th scope="col">Stage</th>
                
                <th scope="col">Total Players</th>
              </tr>
            </thead>
            <tbody *ngFor="let match of robotmasterDetails?.matches ">
              <tr>
                <td> <a routerLink='/matches/{{match.matchid}}'>{{match.matchid}}</a></td>
                <td> {{match.gametitle}}</td>
                <td>{{match.matchdate}}</td>
                <td>{{match.gamemode}}</td>
                <td><a routerLink='/stages/{{match.stageid}}'>{{match.stage}}</a></td>
                <td>{{match.totalplayers}}</td>
                
              </tr>
            </tbody>
          </table>
</div> 