.rm-image{
    width:50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1-center{
    text-align:center;
}

.stageimg{
  width:100%;
  margin-bottom:10px;
  }
  .rmimg{
      margin-right:10px;
  }
  
  .container{
      margin-top:10px;
  }
  
  .rightalign{
      text-align: right;
  }
  
  .card-body{
      text-align:center;
  
  }
  
  .container2{
      width:1000px;
      margin: auto;
  }

  .container3{
    width:500px;
    margin: auto;
}
  
  .card-text{
      font-size: 18px;
      font-weight: bold;
  
  }
  .card{
      width:16rem;
      height:8rem;
  }
  
  .bg-primary{background: #053275!important}