
<div class="container">


<table class="table table-hover table-dark  ">
    <thead class=" border">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Mode</th>
        <th scope="col">Stage</th>
        <th scope="col">Total Players</th>

        
      </tr>
    </thead>
    <tbody *ngFor="let match of matches ">
      <tr>
        <td> <a routerLink='/matches/{{match.matchid}}'>{{match.matchid}}</a></td>
        <td> {{match.gametitle}}</td>
        <td>{{match.matchdate}}</td>
        <td>{{match.gamemode}}</td>
        <td>{{match.stage}}</td>
        <td>{{match.totalplayers}}</td>
        
      </tr>
    </tbody>
  </table>
</div>