textarea{
    width:500px;
}



.container{
    margin-top:10px;
}


button{
    margin-top:5px;
}

.red{
    color:red;
}

.submit-text-fail{
color:red;
font-weight: bold;
}
.submit-text-success{
    color:green;
    font-weight: bold;
}