<div class="container">

        <div class="form-row align-items-center">
          <div class="col-auto">
                    <label for="exampleFormControlSelect1">Game Mode</label>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)] = "gameMode">
                      <option value = "DM">Deathmatch</option>
                      <option value = "TDM">Team Deathmatch</option>
                      <option value = "TLMS">Team LMS</option>
                      <option value = "Duels">Duels</option>
                      <option value = "Series">Series</option>
                    </select>
          </div>
          <div class="col-auto">

                <label for="exampleFormControlSelect1">Total Players</label>
                <select class="form-control"  id="exampleFormControlSelect1" [(ngModel)] = "totalPlayers" >
                  <option value = 1>1</option>
                  <option value = 2>2</option>
                  <option value = 3>3</option>
                  <option value = 4>4</option>
                  <option value = 5>5</option>
                  <option value = 6>6</option>
                  <option value = 7>7</option>
                  <option value = 8>8</option>
                  <option value = 9>9</option>
                  <option value = 10>10</option>
                </select>
          </div>

          <div class="col-auto">
                <label for="exampleFormControlSelect1">Stage</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
        </div>




        <div class="form-col align-items-center">
            <div class ="form-row" *ngIf="totalPlayers>=1">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 1</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>


                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>


                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>


            <div class ="form-row" *ngIf="totalPlayers>=2">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 2</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>


                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>


                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>

            <div class ="form-row" *ngIf="totalPlayers>=3">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 3</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>


                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>


                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>

            <div class ="form-row" *ngIf="totalPlayers>=4">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 4</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>


                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>


                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>

            <div class ="form-row" *ngIf="totalPlayers>=5">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 5</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>


                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>


                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>
            <div class ="form-row" *ngIf="totalPlayers>=6">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 6</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>
    
    
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
    
    
                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>
    
            <div class ="form-row" *ngIf="totalPlayers>=7">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 1</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>
    
    
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
    
    
                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>
    
            <div class ="form-row" *ngIf="totalPlayers>=8">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 1</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>
    
    
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
    
    
                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>
    
            <div class ="form-row" *ngIf="totalPlayers>=9">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 1</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>
    
    
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
    
    
                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>
    
            <div class ="form-row" *ngIf="totalPlayers>=10">
                <div class="col-auto">
                    <label for="exampleFormControlSelect1">Player 1</label>
                    <input type="text" class="form-control" placeholder="Player">
                  </div>
                  <div class="col-auto">
                    <label for="exampleFormControlSelect1">Robot Master</label>
                    <select class="form-control"   id="exampleFormControlSelect1">
                        <option *ngFor="let robotmaster of robotmasters">{{robotmaster.name}}</option>
                      </select>
                  </div>
    
    
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Wins</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div *ngIf="gameMode==='Duels' || gameMode==='TLMS'" class="col-auto">
                    <label for="exampleFormControlSelect1">Loss</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
    
    
                <div *ngIf="gameMode==='DM'|| gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Frags</label>
                    <input type="number" class="form-control" placeholder="Frags">
                </div>
                <div  *ngIf="gameMode==='DM' || gameMode==='TDM'" class="col-auto">
                    <label for="exampleFormControlSelect1">Placement</label>
                    <input type="number" class="form-control" placeholder="Placement">
                </div>
            </div>

        </div>






      







</div>
















