.navbar-default {
    background-color:#053275;
    background-image: none;
    background-repeat: no-repeat;
   }

body {
    background: #031633  !important;
  }

h1{
    color:#f7f7f7;
}
h2{
    color:#f7f7f7;
}
.container{
    margin-top:10px;
}

body{
    padding:0px;
    margin:0px;
    
}

label{
    color:#e3e3e3;
}

p{
    color:#f7f7f7;
}
ul{
    
        color:#f7f7f7;
    
}

table {
    background-color: #031633 !important;
}


.table tr{
    border: #053275 solid 2px !important;
    border-top:#053275 solid 1px !important;
}
.table td{
    border-bottom: #053275 solid 2px !important;

}
.table th{
    border-bottom: #053275 solid .1px !important;
    border-top: #053275 solid .1px !important;
}





thead{
    border:#053275 solid 1.2px  !important;
    background-color:#053275;
}



.card-body{
    text-align:center;

}

.container2{
    width:1000px;
    margin: auto;
    margin-top:10px;
}

.card-text{
    font-size: 18px;
    font-weight: bold;

}
.card{
    width:16rem;
    height:8rem;
}

.bg-primary{background: #053275!important}


#Loading{
    width:2rem;
    height:2rem;
    border-radius:50%;
    color:white;
    font-size:40px  !important;
}
