 <div class="container">
   <div class="row">
     <div class="col">
      <h1 class="text-center"> MM8BitDM-Stats<span class="comment">Wow, what a mouthful..</span></h1>
      
     </div>
    
   </div>

   <div class="row">
     <div class="col">
       <h2>Most Recent Match</h2>
      <table class="table table-hover table-dark  ">
        <thead class=" border">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Mode</th>
            <th scope="col">Stage</th>
            <th scope="col">Total Players</th>
            
    
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <a routerLink='/matches/{{recentMatch?.matchid}}'>{{recentMatch?.matchid}}</a></td>
            <td> {{recentMatch?.gametitle}}</td>
            <td>{{recentMatch?.matchdate}}</td>
            <td>{{recentMatch?.gamemode}}</td>
            <td>{{recentMatch?.stage}}</td>
            <td>{{recentMatch?.totalplayers}}</td>
          </tr>
        </tbody>
      </table>
     </div>
   </div>

   <div class="row">
          <div class="col">
            <div class="rm-card card text-white bg-primary mb-3" >   
                <div class="card-body">
                  <h5 class="card-title">ROBOT MASTER OF THE DAY</h5>
                  <a routerLink ="/robotmasters/{{dailyRM?.id}}"><img class="rm-card-img" src = "{{dailyRM?.image}}"></a>
                  <p class="card-text">
                   {{dailyRM?.name}}
                    </p>
                </div>
              </div>        
        </div>



        <div class="col">
          <div class="rm-card card text-white bg-primary mb-3" >   
              <div class="card-body">
                <h5 class="card-title">RANDOM MATCH</h5>
                <a routerLink ="/matches/{{randomMatch?.matchid}}"><img class="stage-card-img" src = "{{randomMatch?.image}}"></a>
                <p class="card-text">
                  {{randomMatch?.gametitle}} : {{randomMatch?.gamemode}}
                  </p>
              </div>
            </div>        
      </div>




   </div>
 </div>