<div class="container">


<h1>RULES</h1>
<p>You must pick a robot master, boss character or featured main character from the Mega Man game or challenge in question.
You cannot switch characters mid tournament.</p>
<p>Stages go in order, free-for-all first to the frag limit where the enemies are unpicked robot masters, or auxiliary characters, from the available pool.

Stages that end in a 1st place win for a non-human player will be used for duels.
Duels are conducted until all players have dueled each opponent a minimum of twice. In duels, players must fight in the local area where they first encounter one another. Items gathered from the stage cannot be used. Health pick-ups in the area of the battle can be gathered, but you cannot traverse the map outside of the dueling area to gather health.
If more than 3 stages result in a win for a non-human player, 3 stages for duels will be chosen by draft. The player with the lowest points will choose first, and then continue to the 2nd lowest, until 3 stages are chosen. Stages cannot be picked twice.
If all stages result in a win for a human player, 3 random maps will be chosen to be replayed for duels.
If only one or two maps results in a win for a non-human player, the lowest scoring player can choose an additional different map to be replayed for duels. 
In Team Deathmatch, up to 4 human players are pitted against uneven teams of AI controlled opponents. All players are awarded points for a 1st place victory, and additional points per frag.
Duels will still be conducted in Team Deathmatch only tournaments, on maps where the AI is victorious, or chosen by the players with the least kills, starting from the lowest, until 3 are chosen.
</p>




<h1>SCORING</h1>
  <table class="table table-hover table-dark row-4  ">
      <thead class=" border">
        <tr>
          <th scope="col">DEATHMATCH</th>
          <th scope="col">DUELS</th>
          <th scope="col">TEAM DEATHMATCH</th>      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>1st Place - 3 Points</p>
            <p>2nd Place - 2 Points</p>
            <p>3rd Place - 1 Point</p>
            <p>4th Place - .5 Points</p>
        </td>
          <td>
            <p>1st Place - 2 Points</p>
            <p>2nd Place - 1.5 Points</p>
            <p>3rd Place - 1 Point</p>
          </td>
          <td><p>
            Player Team Victory - 2 points
          </p>
          <p>.1 point per frag</p>
            </td>

        </tr>
      </tbody>
  </table>






</div>